.footer{
    margin-top: 10em;
    background-color: var(--blue-color);
    color: var(--white-color);
    padding: 2em;
}
.footerNab{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.bio{
    width: 20em;
}
.link{
    text-decoration: none;
    color: var(--white-color);
    line-height: 40px;
}
.bio{
    line-height: 30px;

}
a{
    color: var(--white-color);
}
.logoContainer{
    width: 6em;
}
.logoContainer img{
    width: 100%;
    object-fit: cover;
}
.socialMedia{
    display: flex;
    flex-direction: column;
    gap: 2em;
}
.copyright{
    text-align: center;
    padding-top: 2em;
}
@media (max-width: 768px) {
    .footerNab{
        flex-direction: column;
        gap: 2em;
    }
    .bio{
        width: 70%;
    }
}