.Navbar{
    position: fixed;
    width: 100vw;
    z-index: 100; 
}
.Navbar,
.Navbar ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2em;
    background-color: var(--blue-color);
}
.logoContainer{
    width: 6em;
}
.logoContainer img{
    width: 100%;
    object-fit: cover;
}
.Navbar ul li .link{
    color: var(--white-color);
    text-decoration: none;
    transition: all 0.3s;
}
.link:hover{
    border-bottom: 1px solid var(--white-color);
}
.btnContact{
    padding: 10px 20px 10px 20px;
    background-color: var(--blue-color);
    border: 1px solid var(--white-color);
    color: var(--white-color);
}
.menu{
    display: none;
    color: var(--white-color);
    cursor: pointer;
}

@media (max-width: 768px) {
    .Navbar{
       position: fixed;
       width: 100vw;
       justify-content: space-between;
       padding-left: 2em;
       padding-right: 2em;
       z-index: 100;
    }
    .Navbar ul {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        padding-left: 2em;
        width: 100vw;
        inset: 0;
        top: -7em;
        height: 100vh;
    }
    .logoContainer{
        z-index: 100;
    }
    .btnContact {
        display: none;
    }
    .menu {
        display: block;
        z-index: 10;
    }
}

@media (min-width: 360px) {
    nav {
        display: flex;
    }
}