.chat{
    width: 15em;
    position: absolute;
    right: 0;
}
.chatContainer{
    position: absolute;
    right: 4em;
    bottom: 0.7em;
    background-color: var(--white-color);    
    padding: 10px;
    border-radius: 10px;
    border-bottom-right-radius: 0;
    border: 1px solid var(--blue-color);
   box-shadow: 1px 1px 4px #ddd;
}
