.services {
  padding-top: 10em;
  padding-left: 5em;
}
.content{
    display: flex;
    flex-direction: column;
    width: 40em;
}
.title {
  font-size: 3em;
  color: var(--blue-color);
  margin-top: 1em;
  line-height: 1.3em;
  width: 100%;
}
.content .description {
  font-size: 1.2em;
  line-height: 1.5em;
  margin-top: 1em;
}
.servicesList{
  display: flex;
  justify-content: center;
  gap: 2em;
  margin-top: 4em;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  .services {
    padding-left: 2em;
  }
  .content {
    width: 100%;
    padding: 0 1em;
  }
  .title {
    font-size: 2.5em;
  }
  .content .description {
    font-size: 1em;
  }
  .servicesList {
    flex-direction: column;
    gap: 1.5em;
  }
}