.banner{
   width: 100vw;
   position: relative;
   background-color: #00339980;
   height: 50em;
}
.bannerImage{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 7px;
    left: 0;
    z-index: -1;
}
.bannerContent{
    padding: 2em 5em;
    color: var(--white-color);
    z-index: 2;
}
.bannerContent .heading{
   font-size: 3.2rem;
   padding-top: 2em;
   line-height: 80px;
   font-weight: 800;
}
.bannerContent h2{
    width: 40em;
    font-size: 1.4rem;
    padding-top: 1.2em;
    line-height: 40px;
    font-weight: 400;
}
.bannerContent button{
    margin-top: 3em;
    padding: 1em 3em;
    color: var(--white-color);
    background-color: var(--cta-color);
    border: none;
    font-size: 1.2rem;
    z-index: 2;
}
@media (max-width: 768px){
    .bannerContent{
        padding: 2em 1em;
    }
    .bannerContent .heading{
        font-size: 2.4rem;
        line-height: 60px;
    }
    .bannerContent h2{
        width: 100%;
        font-size: 1.2rem;
        line-height: 30px;
    }
    .bannerContent button{
        font-size: 1rem;
    }
}