:root{
    --actual-color: #222;
    --blue-color: #222;
    --white-color: #f8fcfd;
    --cta-color: #f1b625;
    --background-color: #f9fcff;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
    font-family: sans-serif;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
button{
    cursor: pointer;
    transition: all 0.3s;
}
button:hover{
    transform: scale(1.05);
}
h1, h2, h3, h4, h5, p{
    opacity: 0.8;
}
